.emoji-item {
  list-style-type: none;
}

@media screen and (min-width: 768px) {
  .emoji-item {
    padding: 0;
    margin: 25px 35px 17px 35px;
  }
}

.emoji-btn {
  background-color: #ffffff4d;
  cursor: pointer;
  outline: none;
  width: 95%;
  border: 3px solid #ffffff4b;
  border-radius: 24px;
  transition: all 0.3s;
  padding: 20px;
  margin: 30px 2px 30px 2px;
}
.emoji-btn:hover{
  transform: scale(1.1);
  transition: all 0.3s;
}

@media screen and (min-width: 768px) {
  .emoji-btn {
    padding: 25px;
    margin: 0;
    width: 100%;
  }
}

.emoji-icon {
  width: 45px;
}

@media screen and (min-width: 768px) {
  .emoji-icon {
    width: 85px;
  }
}

